@keyframes toast {
  0% {transform: translateY(100%);}
  100% {transform: translateY(-30px);}
}

body {
  font: 18px Arial, sans-serif;
  margin: 0;
  background: white;
  flex-direction: column;
  height: 100vh;
}

.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jsgif {
  display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  outline: none;
  -moz-appearance: textfield;
  border: none;
  padding: 2px 1px;
  width: 60px;
  border-bottom: 1px solid #8a8a8a;
  text-align: right;
  font: 18px Arial;
}
input[type=number]:focus {
  background: #348bee22;
  border-color: #348bee;
}
label {display: flex;}
label.file-container span, #openFrameSequenceContainer {
  border-radius: 12px;
  padding: 6px 9px;
  background: #cdcdcd;
  color: #5f5f5f;
  cursor: pointer;
}
label.file-container.selected span {
  background: #348bee;
  box-shadow: 2px 2px 12px -6px black;
  color: white;
}
label.file-container span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
  display: inline-block;
}
label.file-container input[type="file"], div.radio-container input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}
label.text-container {
  position: relative;
}
label.text-container input[type="text"] {
  width: 400px;
  height: 30px;
  border: 3px solid #8a8a8a;
  border-radius: 12px;
  font: 18px Arial, sans-serif;
  padding: 2px 8px;
  outline: none;
}
label.text-container input[type="text"]:focus {
  border-color: #348bee;
}
label.text-container div {
  position: absolute;
  right: 0px; top: 0px;
  width: 40px; height: 40px;
  background: #8a8a8a;
  border-radius: 0px 12px 12px 0px;
  color: white;
  font-size: 2.5em;
  user-select: none;
  cursor: pointer;
}
label.text-container div:active {
  font-size: 1em;
}
label.text-container input[type="text"]:focus + div {
  background: #348bee;
}
div.radio-container {display: flex; margin: 0px 20px;}
div.radio-container label {
  display: block;
  min-width: 14px; min-height: 14px;
  border-radius: 50%;
  border: 3px solid #8a8a8a;
  position: relative;
}
div.radio-container input:checked + label {
  border-color: white;
  background: #348bee;
  box-shadow: 0px 0px 0px 2px #348bee;
}

#sectionOverflow {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 0;
}

header.hdr {
  width: 100%;
  height: 8%;
  padding: 40px 0px;
  border-bottom: 1px solid #cdcdcd;
  justify-content: space-between;
}
header.hdr .logo, header.hdr .inputs {
  flex-wrap: wrap;
  margin: 0px 60px;
  z-index: 1;
}
header.hdr .logo {cursor: pointer;}
header.hdr .logo span {
  font-size: 2.85em;
  font-weight: 800;
}
header.hdr .inputs p, #uploadImageContainer p {
  color: #8a8a8a;
  margin: 0px 12px;
}

.main {
  width: 100%;
  height: 92%;
  flex-direction: column;
  overflow: auto;
  justify-content: flex-end;
}

.main .frames-container, .main .options-container {
  position: relative;
  border: 1px solid #cdcdcd;
  margin: 24px 0px;
  width: 90%;
  padding: 8px;
  background: white;
  border-radius: 10px;
  z-index: 1;
}
.main #gifInfo {
  position: absolute;
  left: 0;
  top: 105%;
  color: #8a8a8a;
  font-size: 0.66em;
}
.main #frames {
  height: 120px;
  justify-content: start;
  scrollbar-width: thin;
  padding: 10px 10px;
  user-select: none;
  overflow-x: auto;
}
.main #frames::-webkit-scrollbar {
  height: 10px;
}
.main #frames::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 666px;
}
.main #frames .frame {
  height: 100%;
  margin: 0px 10px;
  position: relative;
  z-index: 0;
  transition: transform 0.25s, margin 0.25s;
}
.main #frames .frame.removed {
  transform: translateX(50%) scaleX(0);
  margin: 0;
}
.main #frames .frame.to-left {
  transform: translateX(calc(-100% - 30px));
}
.main #frames .frame.to-right {
  transform: translateX(calc(100% + 30px));
}
.main #frames .frame .frame-overflow {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  color: white;
  visibility: hidden;
  pointer-events: none;
}
.main #frames .frame:hover .frame-overflow {
  visibility: visible;
}
.main #frames img.frame-thumbnail {
  height: 100%;
}
.main #frames .add-frame-btn {
  position: relative;
  height: 100%;
  min-width: 3px;
  background: #348bee;
  margin: 0px 4px;
  z-index: 1;
}
.main #frames .add-frame-btn div {
  position: absolute;
  top: 50%; left: 50%;
  width: 22px; height: 22px;
  transform: translate(-50%, -50%);
  background: #348bee;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}
.main #frames .add-frame-btn div:hover {
  transform: translate(-50%, -50%) scale(2);
}

.main #frameInfo {
  position: fixed;
  flex-direction: column;
  background: white;
  box-shadow: 3px 3px 16px -10px black;
  border-radius: 16px;
  transform: translate(0%, -100%);
  visibility: hidden;
  z-index: 2;
}
.main #frameInfo #bigFrameThumbnail {
  height: 268px;
}
.main #frameInfo input {
  border: none;
  width: 50px;
  padding: 1px 3px;
  text-align: right;
  font: 18px Arial, sans-serif;
}
.main #frameInfo input:focus, .main #frameInfo input:hover {
  background: rgb(235,235,242);
  outline: none;
}

.main .options-container {
  justify-content: space-evenly;
}
.main .options-container .input-end {
  padding: 2px 0px;
  border-bottom: 1px solid #8a8a8a;
}
.main .options-container input:focus + .input-end {
  background: #348bee22;
  border-color: #348bee;
}

#overflowContainer {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 99;
  visibility: hidden;
}
#overflowContainer.visible {
  visibility: visible;
}
#overflowContainer #overflowDark {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}
#overflow {
  padding: 20px;
  background: white;
  border-radius: 18px;
  position: relative;
  box-shadow: 3px 3px 24px -12px black;
  transform: scale(1.2);
  transition: transform 0.3s;
}
#overflowContainer.visible #overflow {
  transform: none;
}
#overflowContainer .overflow-container {
  flex-direction: column;
}
#overflow h3 {
  padding: 0px 24px 3px 24px;
  border-bottom: 4px solid #8a8a8a;
}

.btn {
  cursor: pointer;
  width: 36px; height: 36px;
  border-radius: 666px;
  box-shadow: 2px 2px 10px -5px black;
  color: #348bee;
  user-select: none;
}
.btn svg {
  width: 22px;
  height: 22px;
}
.btn:hover {
  background: currentColor;
}
.btn:hover span, .btn:hover svg {
  color: white;
}

#downloadGif, #applySequences {
  border: none;
  padding: 6px 15px;
  background: #348bee;
  color: white;
  font: 22px Arial;
  border-radius: 666px;
  box-shadow: 2px 2px 12px -6px black;
  cursor: pointer;
}

#sequences {
  flex-wrap: wrap;
  max-width: 800px;
}
#sequences div {
  margin: 6px;
  cursor: move;
}
#sequences img {
  max-width: 150px;
  max-height: 150px;
}
#sequences .draggable img {
  filter: saturate(0);
  opacity: 0.666;
}

#toastContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
#toastContainer .toast {
  margin-bottom: 5px;
  padding: 8px 18px;
  border-radius: 666px;
  background: white;
  animation: toast 0.5s;
  transform: translateY(-30px);
  box-shadow: 2px 2px 15px -8px black;
}
