body {
  font: 20px Arial, sans-serif;
  margin: 0;
  background: rgb(250,250,255);
}

.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jsgif {
  display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

#sectionOverflow {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 0;
}

.main {
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.main .frames-container {
  width: 90%;
  margin-top: 300px;
  overflow-x: auto;
  border: 3px solid #8a8a8a;
  padding: 12px 0px;
  background: white;
  box-shadow: 3px 3px 18px -10px black;
  border-radius: 8px;
  z-index: 1;
}
.main .frames-container::-webkit-scrollbar {
  height: 10px;
}
.main .frames-container::-webkit-scrollbar-thumb {
  background: #8a8a8a;
}
.main #frames {
  height: 120px;
  justify-content: start;
  scrollbar-width: thin;
  margin: 0px 12px;
  user-select: none;
}
.main #frames .frame {
  height: 100%;
  margin: 0px 10px;
  position: relative;
  z-index: 0;
}
.main #frames .frame .frame-overflow {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  color: white;
  visibility: hidden;
  pointer-events: none;
}
.main #frames .frame:hover .frame-overflow {
  visibility: visible;
}
.main #frames img.frame-thumbnail {
  height: 100%;
}
.main #frames .add-frame-btn {
  position: relative;
  height: 100%;
  min-width: 3px;
  background: #348bee;
  margin: 0px 4px;
  z-index: 1;
}
.main #frames .add-frame-btn div {
  position: absolute;
  top: 50%; left: 50%;
  width: 22px; height: 22px;
  transform: translate(-50%, -50%);
  background: #348bee;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}
.main #frames .add-frame-btn div:hover {
  transform: translate(-50%, -50%) scale(2);
}

.main #frameInfo {
  position: fixed;
  flex-direction: column;
  background: white;
  box-shadow: 3px 3px 16px -10px black;
  border-radius: 16px;
  padding: 0px 20px 20px 20px;
  transform: translate(-30%, -100%);
  visibility: hidden;
  z-index: 2;
}
.main #frameInfo img {
  height: 250px;
}
.main #frameInfo input {
  border: none;
  width: 50px;
  padding: 1px 3px;
  text-align: right;
  font: 20px Arial, sans-serif;
}
.main #frameInfo input:focus, .main #frameInfo input:hover {
  background: rgb(235,235,242);
  outline: none;
}

#overflowContainer {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 99;
  visibility: hidden;
}
#overflowContainer.visible {
  visibility: visible;
}
#overflowContainer #overflowDark {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}
#overflow {
  padding: 20px;
  background: white;
  border-radius: 18px;
  position: relative;
  box-shadow: 3px 3px 24px -12px black;
  transform: scale(1.2);
  transition: transform 0.3s;
}
#overflowContainer.visible #overflow {
  transform: none;
}
#overflowContainer .overflow-container {
  flex-direction: column;
}
#overflow h2 {
  padding: 0px 24px 3px 24px;
  border-bottom: 4px solid #8a8a8a;
}

label.file-container {
  border-radius: 666px;
  padding: 3px 9px;
  border: 3px solid #348bee;
  color: #348bee;
}
label.file-container.selected {
  background: #348bee;
  box-shadow: 2px 2px 12px -6px black;
  color: white;
}
label.file-container span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
  display: inline-block;
}
label.file-container input[type="file"], div.radio-container input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}
div.radio-container {display: flex; margin: 0px 20px;}
div.radio-container label {
  display: block;
  min-width: 14px; min-height: 14px;
  border-radius: 50%;
  border: 3px solid #8a8a8a;
  position: relative;
}
div.radio-container input:checked + label {
  border-color: white;
  background: #348bee;
  box-shadow: 0px 0px 0px 2px #348bee;
}
